
.navbar {
    padding: 0.10px; 
  }
  
  .navbar-brand {
    font-size: 2rem; 
  }
  
  .navbar-nav .nav-link {
    padding: 0.25rem 0.5rem; 
    font-size: 0.9rem; 
  }
  
  .dropdown-menu {
    font-size: 0.9rem; 
  }
  .navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.2s;
}

  
